In [14]:
import pandas as pd

In [15]:
train_data = pd.read_csv('spam_train.csv',skiprows=[0],header=None)

In [16]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,4210,0.00,0.00,1.17,0.0,0.00,0.00,0.0,0.00,0.00,...,0.000,0.284,0.0,0.284,0.213,0.071,1.565,12,72,email
1,4311,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,3.024,0.059,0.0,0.059,0.000,0.237,5.016,43,311,email
2,1316,0.27,0.27,0.55,0.0,0.27,0.27,0.0,1.39,0.27,...,0.000,0.279,0.0,2.001,0.093,0.000,3.706,63,341,spam
3,3819,0.00,0.00,0.00,0.0,0.67,0.00,0.0,0.00,0.00,...,0.117,0.117,0.0,0.000,0.000,0.000,1.222,5,33,email
4,2951,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.000,1.250,2,10,email

In [17]:
detect={'spam':1,'email':0}

In [18]:
train_data.iloc[:,58] = [detect[item] for item in train_data.iloc[:,58]]
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,4210,0.00,0.00,1.17,0.0,0.00,0.00,0.0,0.00,0.00,...,0.000,0.284,0.0,0.284,0.213,0.071,1.565,12,72,0
1,4311,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,3.024,0.059,0.0,0.059,0.000,0.237,5.016,43,311,0
2,1316,0.27,0.27,0.55,0.0,0.27,0.27,0.0,1.39,0.27,...,0.000,0.279,0.0,2.001,0.093,0.000,3.706,63,341,1
3,3819,0.00,0.00,0.00,0.0,0.67,0.00,0.0,0.00,0.00,...,0.117,0.117,0.0,0.000,0.000,0.000,1.222,5,33,0
4,2951,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.000,1.250,2,10,0

In [19]:
train_data.to_csv('train_data.csv',header=False, index=False)

In [20]:
test_data = pd.read_csv('spam_test.csv',skiprows=[0],header=None)

In [21]:
test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,3,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,...,0.01,0.143,0.0,0.276,0.184,0.01,9.821,485,2259,spam
1,4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,...,0.00,0.137,0.0,0.137,0.000,0.00,3.537,40,191,spam
2,10,0.06,0.12,0.77,0.0,0.19,0.32,0.38,0.00,0.06,...,0.04,0.030,0.0,0.244,0.081,0.00,1.729,43,749,spam
3,13,0.00,0.69,0.34,0.0,0.34,0.00,0.00,0.00,0.00,...,0.00,0.056,0.0,0.786,0.000,0.00,3.728,61,261,spam
4,21,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.729,0.0,0.729,0.000,0.00,3.833,9,23,spam

In [22]:
test_data.iloc[:,58] = [detect[item] for item in test_data.iloc[:,58]]
test_data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,3,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,...,0.01,0.143,0.0,0.276,0.184,0.01,9.821,485,2259,1
1,4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,...,0.00,0.137,0.0,0.137,0.000,0.00,3.537,40,191,1
2,10,0.06,0.12,0.77,0.0,0.19,0.32,0.38,0.00,0.06,...,0.04,0.030,0.0,0.244,0.081,0.00,1.729,43,749,1
3,13,0.00,0.69,0.34,0.0,0.34,0.00,0.00,0.00,0.00,...,0.00,0.056,0.0,0.786,0.000,0.00,3.728,61,261,1
4,21,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.729,0.0,0.729,0.000,0.00,3.833,9,23,1

In [23]:
test_data.to_csv('test_data.csv',header=False, index=False)

In [24]:
type(test_data.head(1))

pandas.core.frame.DataFrame